If:
  PathExclude: vendor/.*

Index:
  Background: Build
CompileFlags:
  CompilationDatabase: "build"
  Add:
    - -I./vendor/raylib_6_0/include
    - -I./include
    - -Wunused-variable
    - -Wunused-parameter
    - -Wunused-function
    - -Wunused-member-function
Diagnostics:
  ClangTidy:
    Add:
      - readability-*
      - bugprone-*
    Remove:
      - readability-identifier-length
      - readability-function-cognitive-complexity
    CheckOptions:
      misc-const-correctness.AnalyzeValues: true
      misc-const-correctness.AnalyzeReferences: true
      bugprone-unused-return-value: true
  MissingIncludes: Strict
  UnusedIncludes: Strict
